<ul>
    <li><h4>Jump back in</h4></li><br>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\kgf-1.jpg" alt="kgf">
    <p><b>KGF-1</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\toxic.jpg" alt="toxic">
    <p><b>Toxic</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\photography.jpg" alt="photography">
    <p><b>X</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\bad habits.png" alt="bad habits">
    <p><b>=</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\96.jpg" alt="96">
    <p><b>96</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\kgf-2.jpg" alt="kgf-2">
    <p><b>KGF-2</b></p></button></li>
    <li><h4>Songs you might like</h4></li><br>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\chhichhore.jpg" alt="chhichhore">
    <p><b>Khairiyat</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\yourlie.jpg" alt="yourlie">
    <p><b>Kirameki</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\staywith.jpg" alt="staywith">
    <p><b>Stay with me</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\stay.jpg" alt="stay">
    <p><b>Stay</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\blue bird.jpg" alt="blue bird">
    <p><b>Blue Bird</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\kanno.jpg" alt="kanno">
    <p><b>Kanno Nilakayal</b></p></button></li>
    <li><h4>Shows you might like</h4></li><br>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\svk.jpg" alt="svk">
    <p><b>SVK</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\wave.jpg" alt="wave">
    <p><b>Waveform</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\ted.jpg" alt="ted">
    <p><b>Ted talks</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\joe.jpg" alt="joe">
    <p><b>Joe rogan experience</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\sci.jpg" alt="sci">
    <p><b>Science VS</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\verge.jpg" alt="verge">
    <p><b>Vergecast</b></p></button></li>
    <li><h4>Top mixes</h4></li><br>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\mix1.png" alt="mix1">
    <p><b>Romantic Mix</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\mix2.png" alt="mix2">
    <p><b>Radwimps Mix</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\mix3.png" alt="mix3">
    <p><b>Moody Mix</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\mix4.png" alt="mix4">
    <p><b>Burnout Syndromes Mix</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\mix5.png" alt="mix5">
    <p><b>Chill Mix</b></p></button></li>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\mix6.png" alt="mix6">
    <p><b>J-Pop Mix</b></p></button></li>
</ul>