<div class="l">
    <table style="border: 1px solid black;">
        <tr>
            <th>    </th>
            <th style="color:#1DB954">Title</th>
            <th style="color:#1DB954">Artist</th>
            <th style="color:#1DB954">Album</th>
            <th style="color: #1DB954;">Time</th>
        </tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr>
            <td><img src="assets\blue.jpg" alt="kgf"></td>
            <td><p><b>Blue Bird</b></p></td>
            <td><p><b></b>Kobukuro</p></td>
            <td><p><b>Bakuman</b></p></td>
            <td><p><b>3:39</b></p></td>
        </tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr>
            <td><img src="assets\toxic.jpg" alt="kgf"></td>
            <td><p><b>Toxic</b></p></td>
            <td><p><b>BoyWithUke</b></p></td>
            <td><p><b>Faded</b></p></td>
            <td><p><b>2:49</b></p></td>
        </tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr>
            <td><img src="assets\bad habits.png" alt="kgf"></td>
            <td><p><b>Bad Habits</b></p></td>
            <td><p><b>Ed Sheeran</b></p></td>
            <td><p><b>=</b></p></td>
            <td><p><b>3:51</b></p></td>
        </tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr>
            <td><img src="assets\chhichhore.jpg" alt="kgf"></td>
            <td><p><b>Khairiyat</b></p></td>
            <td><p><b>Pritam,Arijit Singh</b></p></td>
            <td><p><b>Chhichhore</b></p></td>
            <td><p><b>4:19</b></p></td>
        </tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr>
            <td><img src="assets\yourlie.jpg" alt="kgf"></td>
            <td><p><b>Kirameki</b></p></td>
            <td><p><b>Hikaru Station,Fireteamtorch</b></p></td>
            <td><p><b>Your Lie in Apirl</b></p></td>
            <td><p><b>2:25</b></p></td>
        </tr>
    </table>
</div>
