.topnav {
    background-color: #333;
    overflow: hidden;
}
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    background-color:black;
  }
  .sidebar a:hover:not(.active) {
    background-color:black;
    color: #1DB954;
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
  }
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}