<form class="search" action="action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <div class="content">
      <ul>
        <li><h4>Browse</h4></li><br>
        <li><button type="button" class="btn btn-outline-dark"><img src="assets\s1.png" alt="kgf"></button></li>
        <li><button type="button" class="btn btn-outline-dark"><img src="assets\s3.png" alt="toxic"></button></li>
        <li><button type="button" class="btn btn-outline-dark"><img src="assets\s3.png" alt="photography"></button></li>
        <li><button type="button" class="btn btn-outline-dark"><img src="assets\s4.png" alt="bad habits"></button></li>
        <li><button type="button" class="btn btn-outline-dark"><img src="assets\s5.png" alt="96"></button></li>
        <li><button type="button" class="btn btn-outline-dark"><img src="assets\s6.png" alt="kgf-2"></button></li>
        <li><button type="button" class="btn btn-outline-dark"><img src="assets\s7.png" alt="chhichhore"></button></li>
        <li><button type="button" class="btn btn-outline-dark"><img src="assets\s8.png" alt="yourlie"></button></li>
        <li><button type="button" class="btn btn-outline-dark"><img src="assets\s10.png" alt="chhichhore"></button></li>
        <li><button type="button" class="btn btn-outline-dark"><img src="assets\s12.png" alt="chhichhore"></button></li>
        <li><button type="button" class="btn btn-outline-dark"><img src="assets\s11.png" alt="chhichhore"></button></li>
        <li><button type="button" class="btn btn-outline-dark"><img src="assets\s9.png" alt="yourlie"></button></li>
    </ul>
  </div>